<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Your Lists</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="main-container">
        <h1>Your Lists</h1>
        <a href="/users/<%=user._id%>/lists/new">Add a List</a>
        <ul>
            <% lists.forEach((list)=>{ %>
                <li>
                    <!-- Add a link around each list, directing to the 'show' page -->
                    <a href="/users/<%= user._id %>/lists/<%= list._id %>">
                        <%= list.title %>
                    </a>
                </li>
                <% }) %>
        </ul>
    </div>
    <footer>
      <p>© 2025 Vouch App</p>
    </footer>
</body>

</html>