<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PLACES IN <%= list.title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <div class="main-container">
  <main>
    <h1>PLACES IN <%= list.title %></h1>
    <a href="/users/<%= user._id %>/lists/<%= list._id %>/places/new" class="action-button">ADD A NEW PLACE</a>
    
    <ul>
      <% if (list.places && list.places.length > 0) { %>
        <% list.places.forEach(function(place) { %>
          <li>
            <!-- Clickable place name that directs to the place's show page -->
            <a href="/users/<%= user._id %>/lists/<%= list._id %>/places/<%= place._id %>">
              <%= place.name %>
            </a>
          </li>
        <% }); %>
      <% } else { %>
        <li>No places have been added to this list yet.</li>
      <% } %>
    </ul>

    <a href="/users/<%= user._id %>/lists" class="action-button">BACK TO LISTS</a>
  </main>
</div>
<footer>
  <p>© 2025 VOUCH APP</p>
</footer>
</body>
</html>